<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login - Projeto Bizurada</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<div class="login-container">
    <div class="login-card">
        <h2 class="login-title">Entrar no Bizurada</h2>

        <form th:action="@{/auth}" method="post" class="login-form">
            <label for="username">Nome:</label>
            <input autofocus type="text" id="username" name="username" required />

            <button type="submit" class="login-btn">Entrar</button>
        </form>
    </div>
</div>
</body>

</html>
